CLOUDFLARED_TUNNEL_TOKEN=<YOUR_CLOUDFLARED_TOKEN>
GEMINI_API_KEY=<YOUR_GEMINI_API_KEY>
ENTRA_ENABLED=false
ENTRA_TENANT_ID=<YOUR_ENTRA_TENANT_ID>
ENTRA_CLIENT_ID=<YOUR_ENTRA_CLIENT_ID>
ENTRA_CLIENT_SECRET=<YOUR_ENTRA_CLIENT_SECRET>
GF_SERVER_ROOT_URL=<YOUR_GRAFANA_URL>
LITELLM_MASTER_KEY=<YOUR_LITELLM_MASTER_KEY>
MYSQL_ROOT_PASSWORD=<YOUR_MYSQL_ROOT_PASSWORD>
GRAFANA_ADMIN_USER=<YOUR_GRAFANA_ADMIN_USER>
GRAFANA_ADMIN_PASSWORD=<YOUR_GRAFANA_ADMIN_PASSWORD>
NIGHTINGALE_PASSWORD=<YOUR_NIGHTINGALE_PASSWORD>